html{
 background-color: hsl(217, 54%, 11%);
 font-family: 'Outfit', sans-serif;
 font-size: 18px;
}

body{
 justify-content: center;
 align-items: center;
 display: flex;
 flex-direction: column;
 min-height: 100vh;
 margin: 0;
}

.card {
 width: 350px;
 height: 600px;
 background-color: hsl(216, 50%, 16%);
 border-radius: 15px;
 z-index: 1;
}

img{
 width: 300px;
 border-radius: 10px;
 z-index: 4;
}

.imag{
width: 300px;
height: 300px;
margin: 25px;
border-radius: 10px;
background-color: hsl(178, 100%, 50%);
text-align: center;
display: flex;
flex-direction: column;
z-index: 2;
}

img:hover{
 cursor: pointer;
 opacity: 0.5;
}

.eye {
 margin-top: -145px;
 z-index: 3;
}

p{
 margin-left: 25px;
 margin-right: 25px;
 margin-bottom: 10px;
}

.t1{
 margin-top: 0;
 color: white;
 font-weight: 600;
}

.t1:hover{
 color: hsl(178, 100%, 50%);
 cursor: pointer;
}

.t2{
 color: hsl(215, 51%, 70%);
 font-weight: 300;
}

.t3 {
 color: hsl(178, 100%, 50%);
}

.line{
 margin-top: 10px;
 margin-left: 25px;
 width: 300px;
 height: 2px;
 background-color: hsl(215, 32%, 27%);
}

.t4{
 display: flex;
 align-items: center;
}

.avatar {
 margin: 25px;
 margin-top: 15px;
 width: 50px;
 background-color: hsl(0, 0%, 100%);
 border-radius: 100px;
}

.t5{
 display: flex;
 justify-content: space-between;
}

span {
 font-weight: 300;
 color: hsl(215, 51%, 70%);
}

strong {
 color: hsl(0, 0%, 100%);
}

strong:hover{
 color: hsl(178, 100%, 50%);
 cursor: pointer;
}

.attribution {
 margin-top: 10px;
 color: white;
 font-size: 11px;
 text-align: center;
}

.attribution a {
 color: hsl(228, 45%, 44%);
}